<form ng-submit="auth.logIn()" style="margin-top:30px;">
  <h3>Log In</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Email" ng-model="user.email"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" ng-model="user.name"></input>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
<hr>

<p>Need an account? <a ui-sref="register">Signup</a></p>
<p>Or go <a href="/">home</a>.</p>
