<div class="container">
  <div class="auth-container">
    <div class="auth-container-head">
      Sign up
    </div>
    <div class="auth-container-body">
      <form ng-submit="auth.register()">
        <div class="form-group">
          <input type="text" class="auth-input" autofocus autocomplete="on" placeholder="Name" ng-model="auth.user.name"></input>
        </div>
        <div class="form-group">
          <input type="email" class="auth-input" placeholder="Email" autocomplete="on" ng-model="auth.user.email"></input>
        </div>
        <div class="form-group">
          <input type="password" class="auth-input" placeholder="Password" ng-model="auth.user.password"></input>
        </div>
        <div class="submit-panel">
          <button type="submit" class="btn-login">Register</button>
        </div>
      </form>
    </div>
    <div class="auth-container-footer">
      <p>Already have an account! <a ui-sref="login">Sign in</a></p>
    </div>
  </div>
</div>
