<div class="categories-list" ng-cloak>
  <a ui-sref="home.categories({id:cat.id})" ng-click="category.setCurrentCategory(cat)" ng-repeat="cat in category.categories track by cat.id" class="category-item" selectable-directive>
    {{cat.title}}
    <span class="glyphicon glyphicon-option-vertical category-options" category-options></span>
    <ul class="category-options-container">
      <li modal-edit>Edit</li>
      <li ng-click="category.deleteCategory(cat)">Delete</li>
    </ul>
  </a>
</div>

<div new-category-pop-up></div>

<div edit-category-pop-up></div>
