<div class="home-container-header">
  <p class="home-container-header-title">
    {{category.currentCategory.title}}
  </p>
</div>
<div class="home-container-body">
  <form class="add-todo" ng-submit="category.addTodo()">
    <button type="submit" class="add-todo-icon">
      +
    </button>
    <div class="add-todo-input">
      <div class="form-group">
        <div class="col-md-8">
          <input type="text" class="title-input" placeholder="Add a to-do..." ng-model="category.todoTitle" class="form-control">
        </div>
        <div class="col-md-2 priority-content">
          <h5 class="priority-title">
            Priority
            <input type="number" min="1" max="5" class="priority-select" ng-model="category.todoPriority">
          </h5>
        </div>
        <div class="col-md-2">

        </div>
        <input type="hidden" id="createdAt" ng-model="category.todoCreatedAt">
        <input type="hidden" id="expire" ng-model="category.todoExpiredAt">
      </div>
    </div>
  </form>
  <div class="sort-priority" ng-show="category.currentCategory.todos.length">
    <h5>
      Sort by priority:
      <select ng-model="selected">
        <option value="-priority">High</option>
        <option value="priority">Low</option>
      </select>
    </h5>
  </div>
  <div>
    <ul class="todos-container">
      <li class="todo-item" ng-repeat="todo in category.currentCategory.todos | orderBy:selected ">
        <span class="glyphicon glyphicon-remove remove-icon" ng-click="category.deleteTodo(todo)"></span>
        <span class="todo-title">{{todo.title}}</span>
        <span class="todo-priority pull-right">Priority: {{todo.priority}}</span>
      </li>
    </ul>
  </div>
</div>
