<ul class="categories-list" ng-controller="CategoriesController as category">
  <li ng-repeat="cat in category.categories" class="category-item" selectable-directive>
    <a ui-sref="home.categories({id: cat._id})">{{cat.title}}</a>
    <span class="glyphicon glyphicon-option-vertical category-options" category-options></span>
    <ul class="category-options-container">
      <li ng-click="category.edit(cat)">Edit</li>
      <li ng-click="category.delete(cat)">Delete</li>
    </ul>
  </li>
</ul>
