<div ng-controller="HomeController as home">
  <div class="home-header">

  </div>
  <div class="home-body" ng-controller="CategoriesController as category">
    <div class="home-aside">
      <div class="home-aside-header">
        <div class="burger-menu opened" toggle-directive>
          <i class="glyphicon glyphicon-align-justify">
          </i>
        </div>
        <div class="home-aside-header-container">

        </div>
      </div>
      <div class="home-aside-body">


        <div class="home-aside-body-burger-line">

        </div>
        <div class="home-aside-body-container">
          <div class="category-toggle closed" ui-sref="home.categories" category-toggle>
            <a>Категории</a>
            <div><span class="glyphicon glyphicon-chevron-down"></span></div>
          </div>
          <div ui-view></div>
        </div>
      </div>
      <div class="add-category" title="Add category" modal-show>
        <p><span class="glyphicon glyphicon-plus"></span> Create New Category</p>
      </div>
    </div>
    <div class="home-container">
      <div class="home-container-header">
        <p class="home-container-header-title">
          {{category.currentCategory.title}}
        </p>
      </div>
      <div class="home-container-body">
        <div class="add-todo">
          <div class="add-todo-icon">
            +
          </div>
          <div class="add-todo-input">
            <form ng-submit="category.addTodo()">
              <div class="form-group">
                <input type="text" placeholder="Add a to-do..." ng-model="category.todoTitle" class="form-control">
              </div>
            </form>
          </div>
        </div>
        <div>
          <ul class="todos-container">
            <li class="todo-item" ng-repeat="todo in category.currentCategory.todos track by $index">
              <span class="glyphicon glyphicon-remove remove-icon" ng-click="category.deleteTodo(todo)"></span> {{todo.title}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal-category" class="modal" role="dialog">
  <div class="modal-dialog" ng-controller="CategoriesController as category">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" modal-hide>&times;</button>
        <h4 class="modal-title">Create New Category</h4>
      </div>
      <form class="form-group add-category-input" ng-submit="category.addCategory()">
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Category Name" ng-model='category.title'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" modal-hide>Cancel</button>
          <button type="submit" class="btn btn-primary" modal-hide>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
