<div>
  <div class="home-header">
  </div>
  <div class="home-body">
    <div class="home-aside">
      <div class="home-aside-header">
        <div class="burger-menu opened" toggle-directive>
          <i class="glyphicon glyphicon-align-justify"></i>
        </div>
        <div class="home-aside-header-container">
          <div class="profile-nav">
            <a ui-sref="profile" class="profile-nav-icon">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="home-aside-body">
        <div class="home-aside-body-burger-line">
        </div>
        <div class="home-aside-body-container">
          <div class="category-block-title">
            <h4>Categories</h4>
          </div>
          <div categories-list></div>
        </div>
      </div>
      <div class="add-category">
        <div class="home-aside-body-burger-line">
          <div class="add-category-icon" title="Add category" modal-show>
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </div>
        <p>
          Create New Category
        </p>
      </div>
    </div>
    <div class="home-container">
      <ui-view></ui-view>
    </div>
  </div>
</div>
