@import "variables";
$home-aside-color: #ffffff;
$burger-menu-color: darken(#506c4e, 5%);
$header-height: 50px;
$add-todo-color: rgba(102,137,100,0.75);
$burger-line-width: 50px;
$add-category-color: #5FBEDB;

html {
  min-height: 100%;
  font-family: Maven Pro !important;
}

body {
  color: #ffffff;
  background: url('../images/buildings.png') no-repeat;
  min-height: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  font-size: 10px;
}

.home {
  &-body {
    width: 100%;
    min-height: 100%;
  }

  &-container {
    float: right;
    height: 100%;
    width: 85%;
    transition: width 0.4s;
    height: 100%;

    &-body {
      box-sizing: border-box;
      padding: 20px;
    }

    &-header {
      height: $header-height;
      width: 100%;
      background: $main-first-color;
      line-height: $header-height;

      &-title {
        margin: 0;
        padding-left: 20px;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
      }
    }

    .todos-container {
      list-style: none;
      padding: 0;
      overflow-y: auto;
      max-height: 80%;
      padding-bottom: 3rem;
      width: 100%;

      .todo-item {
        -webkit-user-select: none;
        min-height: 40px;
        display: inline-block;
        background: #ffffff;
        color: #000000;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 3px;
        font-size: 1.4rem;
        cursor: pointer;
        margin-top: 10px;

        .remove-icon {
          cursor: pointer;
          vertical-align: middle;
        }

        .todo-title {
          vertical-align: middle;
          height: 100%;
        }

        .todo-info {
          vertical-align: middle;
          font-style: italic;

          &-value {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }

        .todo-priority {
          vertical-align: middle;
          margin-right: 6rem;
        }
      }
    }

    .add-todo {
      -webkit-user-select: none;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      width: 100%;
      background: $add-todo-color;
      height: 4.5rem;
      border-radius: 4px;
      position: relative;
      margin-bottom: 20px;

      .date-content {
        height: 100%;

        .date {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          input {
            height: 2.5rem;
            width: 60%;
            display: inline-block;
          }
        }
      }

      &-icon {
        background: none;
        border: none;
        outline: 0;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.4rem;
        cursor: pointer;
      }

      &-input {
        display: inline-block;
        width: 100%;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        left: 50px;

        .title-input {
          width: 100%;
          height: 100%;
          background: none;
          border: 0;
          color: #ffffff;
          outline: none;
          box-shadow: none;
          font-size: 1.4rem;
        }

        ::-webkit-input-placeholder {
          color: rgba(#ffffff, .7);
        }
      }
    }
  }

  &-aside {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    background: $home-aside-color;
    transition: width 0.4s;
    background: #ededed;

    .add-category {
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $add-category-color;
      font-size: 1.7rem;
      line-height: 50px;
      overflow: hidden;

      p {
        display: inline-block;
        padding-left: 2rem;
        color: #ffffff;
        height: 100%;
      }
    }

    &-header {
      height: $header-height;
      width: 100%;
      background: darken($main-first-color, 10%);

      .burger-menu {
        float: left;
        height: 100%;
        width: $burger-line-width;
        text-align: center;
        background: $burger-menu-color;
        cursor: pointer;

        &:hover {
          background: darken($burger-menu-color, 5%);
        }

        i {
          top: 50%;
          transform: translateY(-50%);
          font-size: 2.5rem;
        }
      }

      &-container {
        float: right;
        width: calc(100% - $burger-line-width);
        height: 100%;

        .profile-nav {
          &-icon {
            background: #5FBEDB;
            display: inline-block;
            width: $burger-line-width;
            height: 100%;
            position: relative;

            span {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              color: #ffffff;
              font-size: 3rem;
            }
          }
        }
      }
    }

    &-body {
      height: calc(100% - $header-height);
      width: 100%;

      &-burger-line {
        width: $burger-line-width;
        height: 100%;
        float: left;

        .add-category-icon {
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 2rem;
          background: darken($add-category-color,5%);
          cursor: pointer;

          &:hover {
            background: darken($add-category-color,10%);
          }

          span {
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }

      &-container {
        width: calc(100% - $burger-line-width);
        height: 100%;

        .category-block-title {
          width: 100%;
          height: 40px;
          color: #ffffff;
          background: $main-first-color;
          position: relative;

          h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
          }
        }
      }
    }
  }
}
